body{
    padding: 0;
    margin: 0;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    height: 100vh;
    position: relative;
}

.main-header{
    height: 5%;
    background-color: #009688;
    display: flex;
/*    padding: 0.5% 100px;*/
}

.header-right{
    display: flex;
    margin-left: auto;
    padding-right: 20px;
    font-size: 30px;
    align-items: center;
    color: white;
}

.header-right .menu{
    cursor: pointer;
}

.main-code{
    height: 90%;
    display: flex;
/*    justify-content: space-around;*/
    align-items: center;
/*    padding: 5% 200px;*/
}

.main-code .title{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 5px 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.project-editor{
    display: flex;
    width: 60%;
    height: 100%;
    background-color: #FAFAFA;
}

.project-files{
    padding-top: 40px;
    position: relative;
    overflow: hidden;
    width: 25%;
    background-color: #FAFAFA;
    border-right: 1px solid #e0e0e0;
}

.project-files .files.folder{
}

.project-files .folder{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 20px;
}

.folder .file, .folder .folder-name{
    margin: 5px 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px
}

.folder .file{
    background-image: url(../img/file-code-icon.png);
    border-left: 2px solid #B2DFDB;
    cursor: pointer;
}

.folder .file:hover{
    border-left: 2px solid #00796B;
    transition: border-left 0.3s ease-out 0s,
        background-color 0.3s ease-out 0s;
    background-color: #E0F2F1;
}

.folder .file.current{
    border-left: 2px solid #00796B;
}

.folder .folder-name{
    margin-left: -20px;
    background-image: url(../img/folder-icon.png);
}

.code-editor{
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 100%;
    border-right: 1px solid #e0e0e0;
    background-color: #ebebeb;
}

.code-editor #editor{
    position: absolute;
    height:auto;
    margin-top: 30px;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: #FAFAFA;
}

.code-result{
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 100%;
    background-color: #FAFAFA;
}

.tasks-nav{
    z-index: 20;;
    width: 450px;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    box-shadow: -3px 0px 10px rgba(0,0,0,0.26);
}

.tasks-nav .nav-title{
    width: 410px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    display: flex;
}

.tasks-nav .nav-title .back{
    margin-left: auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tasks-nav .nav-title h2{
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.tasks-nav .tasks-list{
    list-style: none;
    padding: 0;
}

.tasks-nav .tasks-list li{
    width: 450px;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.tasks-nav .tasks-list li:hover{
    background-color: #E0F2F1;
    transition: background-color 0.3s ease-out;
}

.tasks-nav .tasks-list li:first-of-type{
    border-top: 1px solid #e0e0e0;
}

.tasks-nav .tasks-list li.current{
    color: #009688;
}


.main-footer{
    height: 5%;
    background-color: darkcyan;
}
