<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/task.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="/static/js/jquery-2.2.2.min.js"></script>
    <script src="/static/js/task.js"></script>
    <script src="/static/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="main-container">
        <header class="main-header">
            <div class="header-left">
                <img src="../static/img/rust-logo.png" height="40">
                <span></span>
            </div>
            <div class="header-right">
                <i class="menu fa fa-bars"></i>
            </div>
        </header>
        <main class="main-code">
            <section class="project-editor">
                <div class="project-files">
                    <div class="title">
                        Файлы проекта:
                    </div>
                    <ul class="files folder">
                        <li class="file current">main.rs</li>
                        <li class="file">second.rs</li>
                        <ul class="folder">
                            <div class="folder-name">folder</div>
                            <li class="file">inf.rs</li>
                            <li class="file">io.rs</li>
                        </ul>
                    </ul>
                </div>
                <div class="code-editor">
                    <div class="title">
                        Название файла
                    </div>
                    <div id="editor">
                        ololol
                    </div>
                    <div class="controls">
                        <button class="run fa fa-play"></button>
                    </div>
                </div>
            </section>
            <section class="code-result">
                <div class="title">
                    Результат выполнения:
                </div>
                <div id="result">
                </div>
            </section>
        </main>
        <nav class="tasks-nav">
            <div class="nav-title">
                <h2>Задания</h2>
                <i class="back fa fa-arrow-right"></i>
            </div>
            <ul class="tasks-list">
                <li class="current">Введение в Rust lang</li>
                <li>Ветвления, циклы, массивы, перечисления</li>
                <li>Взаимодействие модулей</li>
                <li>Реализация ООП</li>
            </ul>
        </nav>
        <footer class="main-footer">

        </footer>
    </div>
</body>
</html>
