{% extends 'task.html' %}

{% block task_id %}
    <input id="task-id" type="hidden" value="3">
{% endblock %}

{% block files %}
    <ul class="files folder">
        <li class="file current">main.rs</li>
        <li class="file">wow.rs</li>
    </ul>
{% endblock %}

{% block task %}
    <h2 class="task-header">Rustcore!</h2>
    <div class="task-description">
        Дано выражение с цифрами, скобками и операторами.
        В данной задаче важны только скобки. Скобки представлены в трех вариациях:
        "{}" "()" и "[]". Скобки используются, чтобы определить порядок применения
        операторов или ограничить участок выражения. Если скобка открывается, то
        она должна закрываться скобкой того же типа. Участки ограниченные одной
        парой скобок, не должны пересекаться с участками других скобок. В этой
        задаче, вам необходимо определить правильное ли выражение или нет,
        основываясь на расположении скобок. И не обращайте внимание на операторы и операнды.
    </div>
    Пример входных данных:
    <div class="task-input">
    ((5+3)*2+1)
    </div>
    Результат:
    <div class="task-output">
    True
    </div>
    <br>
    Пример входных данных:
    <div class="task-input">
    (({[(((1)-2)+3)-3]/3}-3)
    </div>
    Результат:
    <div class="task-output">
    False
{% endblock %}

{% block theory %}

{% endblock %}